.to-eat {
  position: relative;

  .leaf {
    position: absolute;
    width: 30%;
    top: 150px;
    right: -100px;
    transition: transform 1s;
  }

  h2 {
    @include cta-style;

    text-align: center;
    font-size: 2.5rem;
    margin-top: 100px;
  }

  ul {
    list-style-type: none;

    li {
      font-family: $default-font;
      text-transform: capitalize;

      a {
        text-decoration: none;
        color: $secondary-color;
      }
    }
  }
}
