@mixin cta-style {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}

@mixin button {
  display: block;
  background-color: #666;
  padding: 12px 20px;
  width: 200px;
  border-radius: 20px 20px 0;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  transition: background-color 0.5s;
}

header {
  height: 600px;
  background-color: #999;

  h1 {
    @include cta-style;

    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 4em;
    padding-top: 200px;
    padding-bottom: 0;
    margin: 0 auto;
  }

  .button {
    @include cta-style;
    @include button;

    color: #fff;

    &:hover {
      background-color: #333;
    }
  }
}

@media only screen and (max-width: 750px) {
  header {
    height: 400px;

    h1 {
      font-size: 3em;
      padding-top: 120px;
    }
  }
}

@media only screen and (max-width: 500px) {
  header {
    h1 {
      font-size: 2.2em;
      line-height: 1.5em;
    }

    .button {
      font-size: 0.8em;
      padding: 10px 12px;
    }
  }
}
