@mixin cta-style {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

nav {
  .mobile-logo {
    display: none;
  }

  .nav-top {
    background-color: black;

    img {
      margin: 0 auto;
      width: 15%;
      display: block;
      padding: 1% 0;
    }
  }

  .nav-bottom {
    background-color: #333;
    display: flex;

    ul {
      width: 80%;
      margin: 0 auto;

      li {
        display: inline-block;
        padding: 1% 5%;
        transition: background-color 0.8s;

        a {
          @include cta-style;

          color: white;
          font-size: 0.75rem;
          text-decoration: none;
        }

        &:hover {
          background-color: black;
        }
      }
    }
  }
}

@media only screen and (max-width: 1078px) {
  nav {
    .nav-bottom {
      ul {
        width: 85%;

        li {
          padding: 1.2% 3%;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  nav {
    .mobile-logo {
      display: block;
      background-color: black;

      img {
        width: 14%;
        padding: 12px;
      }
    }

    .nav-top {
      display: none;
    }

    .nav-bottom {
      display: none;
    }
  }
}
